# 复制为 .env.local（已被 gitignore）后按需修改
NODE_ENV=development
VITE_DEV=true
# 后端地址：本机开发一般是 http://localhost:48080
VITE_BASE_URL='http://localhost:48080'
VITE_UPLOAD_TYPE=server
VITE_API_URL=/admin-api
VITE_APP_CAPTCHA_ENABLE=false
VITE_APP_API_ENCRYPT_ENABLE=false
